@{
    ViewData["Title"] = "Home Page";
}

<style>
    .h1 {
        margin: 0px;
        padding: 0px;
        font-family: Courier New, monospace;
        font-size: 90px;
    }
    .image-container {
        margin: 0px; 
        width:100%;
        display: flex;
        justify-content: space-between; 
    }

        .image-container img {
            width: 45%; 
        }
</style>


<div class="text-center">
    <h1 class="h1">The Gram</h1>
    </div>
    <div class="image-container">
        <img src="css/Images/Collab-removebg-preview-removebg-preview.png" alt="Example Image 1">
        <img src="css/Images/Collab__1_-removebg-preview.png" alt="Example Image 2">
    </div>
</div>
